.page-header {
  height: 50px;
  margin: 30px 0 40px;
  display: flex;
  justify-content: center;

  &-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8em;
  }

  .github-link {
    align-self: flex-end;
    
    &-icon {
      height: 20px;
      margin-left: 20px;
    }
  }
}
