@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono&display=swap');
@import './_variables';
@import './_normalize.scss';

body {
  font-family: 'Lato', sans-serif;
  background-color: $color08;

  h3,
  h4 {
    font-weight: 400;
  }
}

.app-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.results-container {
  max-width: 800px;

  @media only screen and (max-width: 800px) {
    max-width: 90vw;
  }
}
